doctype html
html
	head
		title= title

		style.
			body {
				font-family: Verdana;
				font-size: 13px;
				background: #FFFF00
			}
	body
	h1 Welcome to Upper Arlington Bus Tracking System
	h2 Please select your bus

	div Bus #27
	form(name="bus27", action="/bus27", method="get")
		input(type="submit", value="Greensview Elementary Bus 27")


	div If you are a Bus Driver, please click here:
	form(name="driver", action="/driver", method="get")
		input(type="submit", value="Bus Driver")

	div Log Out
	form(name="logout", action="/logout", method="get")
		input(type="submit", value="Log Out")
