doctype html
html
	head
		title= title
	body
	h1 Welcome to Upper Arlington Bus Tracking System
	h2 Please select your bus

	form(name="logout", action="/logout", method="get")
		input(type="submit", value="Log Out")