doctype html
html
	head
		title= title
	body
	h2 Bus Tracking for Greensview Elementary Bus #27
	script(type="text/javascript" src="/static/js/route_watch.js")
	script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjW2YgX-WxEMqYo6oy66qml3z7L4d0OsI")

	div(id="bus_27_info")
	div(id="bus_27_map" style="height: 400px; width: 500px;")
	
