doctype html
html
	head
		title= title

		style.
			body {
				padding: 25px 50px;
				font-family: Verdana;
				font-size: 13px;
				background: #f6f66b /* #FFFF00 brighter yellow */
			}
			#footer {
				padding: 25px 0px;
				line-height: 150%;
			}
			#bus_22_info {
				line-height: 20px;
			}
			#bus_22_map {
				border: 5px solid black;
			}
			#logo {
				width: 760px;
				border: 10px ridge black;
			}
	body
	#logo
		img(src='/images/UAheader.gif')
	h2 Bus Tracking for Greensview Elementary Bus #22
	
	
	div(id="bus_22_map" style="height: 400px; width: 500px;")
	
	h3 Bus Current Location and ETA:
	div(id="bus_22_info")

	script(type="text/javascript" src="/static/js/route_watch.js")

	script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbQEPjRXr1nxQe30RLBwikC2bw0YwzHqM")

	#footer
		div Copyright © UAHS Senior Capstone Project #{+new Date().getFullYear()}
		a(href='/about') About 
		| | 
		a(href="mailto:lamoremedico@gmail.com?subject=UA School Bus Tracking Feedback") Contact Us
		| | 
		a(href='/home') Home 
		| | 
		a(href='/logout') Log Out
	
