doctype html
html
	head
		title= title

		style.
			body {
				padding: 25px 50px;
				font-family: Verdana;
				font-size: 13px;
				background: #f6f66b /* #FFFF00 brighter yellow */
			}
			#footer {
				padding: 25px 0px;
			}
			#bus_22_map {
				margin: 10px 0px 0px 0px;
				border: 5px solid black;
			}
			#logo {
				width: 760px;
				border: 10px ridge black;
			}
	body
	#logo
		img(src='/images/UAheader.gif')
	h2 For Greensview Elementary Bus #22 Driver
	
	#out
		
	script(type= "text/javascript" src='/javascripts/geoloc.js')
	
	button(type="button", onclick='clearTimeout(timerId)') Stop Tracking Me
	
	script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjW2YgX-WxEMqYo6oy66qml3z7L4d0OsI")

	div(id="bus_22_info")
	div(id="bus_22_map" style="height: 400px; width: 500px;")
	


	#footer
		div Copyright © UAHS Senior Capstone Project #{+new Date().getFullYear()}
		a(href='/about') About 
		| | 
		a(href='/feedback') Contact Us 
		| | 
		a(href='/login') Home 
		| | 
		a(href='/logout') Log Out

		