doctype html
html
	head
		title= title

		style.
			body {
				padding: 25px 50px;
				font-family: Verdana;
				font-size: 13px;
				background: #f6f66b /* #FFFF00 brighter yellow */
			}
	body
		h2 For Greensview Elementary Bus #27 Driver
		script(type= "text/javascript" src='/javascripts/geoloc.js')
		button(type="button", onclick='geoFindMe()') Track Me
		div#out
		//put function within button that prompts to start geolocating the device using it (function geoFindMe has things in terms of HTML need to make it JADE OUTPUT)
		