doctype html
html
	head
		title= title
	body
	h1 We're sorry, but this bus route has not been configured yet. 
	h2 We are working very hard to get it up and running. Come back soon!

	script(type="text/javascript" src="/static/js/route_watch.js")
	script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjW2YgX-WxEMqYo6oy66qml3z7L4d0OsI")

	div(id="bus_1_map" style="height: 400px; width: 500px;")
	
