extends layout

block content
	h1 Upper Arlington Bus Tracking System
	h2 Please Log In

	form(name="input", action="/login", method="post")
		div Username:
		input(type="text", name="user")

		div Password:
		input(type="password", name="pswd")
		div 
		input(type="submit", value="Log in")